section.approach
  .container
    .title.title--with-bottom-line
      h2.title.title__header Наш подход
      .title__text Проверяйте наши шаги шаг за шагом (как мы это делаем)
    ul.approach__list
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-1.jpg" alt="Шаг 1")
          .approach__step шаг
        .approach__text
          .approach__title Шаг 1 : Заголовок здесь
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-2.jpg" alt="Шаг 2")
          .approach__step шаг
        .approach__text
          .approach__title Шаг 2 : Заголовок здесь
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-3.jpg" alt="Шаг 3")
          .approach__step шаг
        .approach__text
          .approach__title Шаг 3 : Заголовок здесь
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-4.jpg" alt="Шаг 4")
          .approach__step шаг
        .approach__text
          .approach__title Шаг 4 : Заголовок здесь
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.