.contacts
  a.contact(href="tel:+380976337312")
    i.contact__icon.contact__icon--mobile.fas.fa-mobile-alt(aria-hidden="true")
    span.contact__text 63373128
  a.contact(href="mailto:info@business.co")
    i.contact__icon.contact__icon--email.fas.fa-envelope(aria-hidden="true")
    span.contact__text info@business.co
  a.facebook-icon(href="facebook.com")
    i.fab.fa-facebook-f