header.header
  .header__top
    .container
      include contacts
  .header__bottom
    .container
      a(href="index.html").logo
        img.logo__picture(src="../images/logo.png" alt="Логотип Business")
      include nav
      a.button.button--red.header__button(href="#") Бесплатная консультация