section.hero
  .container
    .hero__about Мы предоставляем
    h1.hero__title Маркетинг социальных сетей для бизнеса
    a.button.button--yellow.button--text-uppercase(href="#") Бесплатная консультация