section.work
  .container
    .title.title--with-bottom-line
      h2.title.title__header Наши работы
      .title__text Мы добавили наши работы
    ul.work__list
      li.work__item.work__item--name
        .work__name Название проекта
        .work__description Интернет-маркетинг
      li.work__item
        img.work__picture(src="images/work-1.jpg" alt="Работа-1")

      li.work__item.work__item--name
        .work__name Название проекта
        .work__description Landing page
      li.work__item
        img.work__picture(src="images/work-2.jpg" alt="Работа-2")

      li.work__item
        img.work__picture(src="images/work-3.jpg" alt="Работа-3")
      li.work__item.work__item--name
        .work__name Название проекта
        .work__description Landing page

      li.work__item
        img.work__picture(src="images/work-4.jpg" alt="Работа-4")
      li.work__item.work__item--name
        .work__name Название проекта
        .work__description Интернет-маркетинг

