.button {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 22px 10px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;

  &--red {
    background-color: #de2b24;
    transition: 0.3s;

    &:hover,
    &:focus,
    &:active {
      background: lighten(#de2b24, 7%);
    }
  }

  &--yellow {
    background-color: #f8cd53;
    transition: 0.3s;

    &:hover,
    &:focus,
    &:active {
      background-color: lighten(#f8cd53, 7%);
    }
  }

  &--text-uppercase {
    text-transform: uppercase;
  }

  &.disabled,
  &:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000;
  }
}